<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    
    <header>
        <img src="./images/logo.jpg" alt="Logo">
        <div class="line"></div>
        <nav class="nav">
            <div class="item">Blog</div>
            <div class="item">Events</div>
            <div class="item active">About</div>
            <div class="item">Archives</div>
            <div class="item">Join Us!</div>
        </nav>
    </header>
    <div class="dots"></div>
    <hr>
    <main>
        <div class="card first">
            <h3>Mission statement</h3>
            <h4>Lorem ipsum dolor sit amet</h4>
            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit id esse ut ipsa aliquam distinctio maxime qui, illo perspiciatis architecto tenetur. Doloribus in veritatis laborum placeat provident praesentium nisi? Officiis.
            </div>
            <a href="">Learn more ></a>
        </div>
        <div class="card second">
            <h3>Next event</h3>
            <h4>Lorem ipsum dolor sit amet</h4>
            <div class="content">
                <img src="images/logo.jpg" alt="Image">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit id esse ut ipsa aliquam distinctio maxime 
            </div>
        </div>
        <div class="card third">
            <h3>Follow us</h3>
            <h4>Lorem ipsum dolor sit amet</h4>
            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit id esse ut ipsa aliquam distinctio maxime qui, illo perspiciatis architecto tenetur. Doloribus in veritatis laborum placeat provident praesentium nisi? Officiis.
            </div>
        </div>
    </main>

    <link rel="stylesheet" href="style.css">
</body>
</html>